div.Boxes.box-1{
    border: solid;
    text-align: center;
    margin: 1rem;

}
div.Boxes.box-3{
    border: solid;
    text-align: center;
    margin: 1rem;

}
div.Boxes.box-3{
    border: solid;
    text-align: center;
    margin: 1rem;

}


